@import 'tailwindcss';

.glass {
  backdrop-filter: blur(23px) saturate(180%);
  -webkit-backdrop-filter: blur(23px) saturate(180%);
  background-color: rgba(255, 255, 255, 0);
}

:root {
  --separator-size: 5px;
  --separator-border-style: solid;
  --separator-border-color: #000000;
  --separator-space-top: 10px;
  --separator-space-bottom: 10px;
}

.separator {
  margin-top: var(--separator-space-top);
  margin-bottom: var(--separator-space-bottom);
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom: var(--separator-size) var(--separator-border-style)
    var(--separator-border-color);

  width: 0;
  animation: separator-width 2s ease-out forwards;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
