---
import { Typewriter } from '@components/Name.tsx';
import { NavBar } from '@components/NavBar.tsx';
import { Blob } from '@components/BgBlob.tsx';
import { getPagesLinks } from '@/helpers/pages';
---

<div
  class="flex flex-col flex-auto content-center justify-center items-center pointer-none"
>
  <Typewriter client:load text={['Camilo', 'Caridad', 'Pineda']} delay={100} />
  <hr class="separator separator--line" />
  <NavBar client:only="react" links={getPagesLinks({ excludeKey: 'home' })} />
</div>

<script></script>
