---
// import { CamiloCaridadPineda } from '@components/Name.tsx';
import { NavBar } from '@components/NavBar.tsx';
import { Blob } from '@components/BgBlob.tsx';
---

<div
  class="w-[100vw] h-[100vh] m-auto flex flex-col flex-auto content-center items-center justify-center pointer-none glass z-10 relative"
>
  <div
    class="flex flex-col flex-auto content-center justify-center items-center pointer-none"
  >
    <div class="text-center">
      <h1 class="text-3xl font-bold">Camilo</h1>
      <h1 class="text-3xl font-bold">Caridad</h1>
      <h1 class="text-3xl font-bold">Pineda</h1>
    </div>
    <hr class="separator separator--line" />
    <NavBar
      client:only="react"
      links={[
        { href: '/about', text: 'About' },
        { href: '/portfolio', text: 'Portfolio' },
        { href: '/resume', text: 'Resume' },
        { href: '/contact', text: 'Contact' },
      ]}
    />
  </div>
</div>

<Blob client:load color="#D0006F" center={{ x: -30, y: -25 }} wobble={30} />
<Blob client:load color="#d0c900" center={{ x: 30, y: -75 }} wobble={30} />
<Blob client:load color="#00d061" center={{ x: -30, y: -75 }} wobble={30} />
<Blob client:load color="#0007d0" center={{ x: 30, y: -25 }} wobble={30} />

<style lang="scss">
  $separator-size: 5px;
  $separator-border-style: solid;
  $separator-border-color: #000000;
  $separator-space-top: 10px;
  $separator-space-bottom: 10px;
  $slides: 3;
  $typing-duration: 5s;
  $tab-letters: 6 7 6; //number of characters in each paragraph
  $slider-font-size: 3rem;

  .glass {
    backdrop-filter: blur(23px) saturate(180%);
    -webkit-backdrop-filter: blur(23px) saturate(180%);
    background-color: rgba(255, 255, 255, 0);
  }

  .separator {
    margin-top: $separator-space-top;
    margin-bottom: $separator-space-bottom;
    border: 0;
  }

  .separator--line {
    border: 0;
    border-bottom: $separator-size $separator-border-style
      $separator-border-color;

    width: 0;
    animation: separator-width 2s ease-out forwards;
  }

  @keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

  @keyframes typing {
    from {
      width: 100%;
    }
    90%,
    to {
      width: 0;
    }
  }

  @keyframes slide {
    #{100% / $slides} {
      font-size: $slider-font-size;
      letter-spacing: 3px;
    }
    to {
      font-size: 0;
      letter-spacing: 0;
    }
  }

  .typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  .typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide $typing-duration * $slides step-start infinite;
  }

  .typing-slider p::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    animation:
      typing $typing-duration infinite,
      cursor 1s infinite;
  }

  @each $letters in $tab-letters {
    $i: index($tab-letters, $letters);
    .typing-slider p:nth-child(#{$i}) {
      animation-delay: $typing-duration * ($i - 1);
      &::after {
        animation-delay: $typing-duration * ($i - 1);
        animation-timing-function: steps(#{$letters}), step-end;
      }
    }
  }
</style>
